<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CircularLoadViewAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D18980E1DC9DDE4007B4A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1898271DC9DDE5007B4A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1898321DC9DDE5007B4A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
